<body>
    <ul id="guide-sections">
        {% for section in sections %}
        <li class="guide-section">
            <h3 class="guide-section-title">
                {{ section.title }}
            </h3>
            <ul class="guide-section-items">
                {% for page in section.pages %}
                    <li class="guide-item">
                        <a href="#!/{{ section.id }}/{{ page.id }}" class="guide-item-link">
                            {{ page.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
</body>